.items {
  display: grid;
  row-gap: 4px;
  grid-template-columns: repeat(10, 1fr);
}

.item {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #242626;
  }

  &.selected, &.start {
    border-top: 3px solid #ffffff50;
    border-bottom: 3px solid #ffffff50;
    background-color: #86993f;

    &:hover {
      background-color: #6d830f;
    }
  }

  &.highlighted {
    border-top: 3px solid #ffffff50;
    border-bottom: 3px solid #ffffff50;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

}

.start {
  border-left: 3px solid #ffffff50;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.end, .endHighlighted {
  border-right: 3px solid #ffffff50;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rangeDialog {
  width: 700px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 0;
  background-color: rgb(78 75 75);
  border: 3px solid #ffffff50;
  color: white;
  box-shadow: 3px 3px 8px #000;
}

.rangeLabel {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.range {
  padding: 0;
  margin: 0;
  position: relative;
}
